In [1]:
import pandas as pd 
import numpy as np

In [57]:
books=pd.read_csv("book_dataset/Books.csv")
ratings=pd.read_csv("book_dataset/Ratings.csv")
users=pd.read_csv("book_dataset/Users.csv")

C:\Users\ashan\AppData\Local\Temp\ipykernel_8464\634026551.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv("book_dataset/Books.csv")

# First check
    - Shape
    - null
    - Duplicate

In [58]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [63]:
print(books.isnull().sum())

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [64]:
print(ratings.isnull().sum())

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [66]:
print(users.isnull().sum())  # age is missing almost 50% so we can dicard it

User-ID          0
Location         0
Age         110762
dtype: int64

In [67]:
books.duplicated().sum()

0

In [69]:
ratings.duplicated().sum()

0

In [68]:
users.duplicated().sum()

0

In [78]:
books.fillna({"Publisher":"unknown","Book-Author":"unknown"},inplace=True)

## Popularity Based

In [85]:
users.sample()

       User-ID                              Location  Age
22892    22893  tauranga, bay of plenty, new zealand  NaN

In [87]:
ratings_users=ratings.merge(users,on="User-ID")
ratings_users.sample(4)

,User-ID,ISBN,Book-Rating,Location,Age
734321,177458,0140245162,0,"ottawa, ontario, canada",29.0
449722,107784,0671024108,8,"tarentum, pennsylvania, usa",NaN
319376,76352,0812524330,8,"olympia, washington, usa",58.0
1057351,252652,044023722X,0,"victoria, british columbia, canada",26.0

In [88]:
data=books.merge(raings_user,on="ISBN")

In [115]:
popular_books=data.sort_values(by="Book-Rating",ascending=False)

In [122]:
for i in raings_user.groupby(by="ISBN"):
    print(i)
    break

(' 0330299891',         User-ID         ISBN  Book-Rating                          Location  \
371986    89192   0330299891            0        goor, alabama, netherlands
750718   181817   0330299891            6  enschede, overijsel, netherlands

         Age
371986  34.0
750718  37.0  )